<footer>
  <div
    class="absolute left-0 w-full h-auto md:h-[238px] grid grid-cols-1 md:grid-cols-4 bg-neutral-800 pt-12 pb-[37px] px-5 py-7 md:px-36 md:pt-12"
  >
    <h4 class="text-[28px] font-semibold text-white text-center md:text-left">
      Shortly
    </h4>
    <nav
      class="flex flex-col md:flex-row justify-center md:space-x-[84px] space-y-8 md:space-y-0 md:col-span-2 mt-9 md:mt-0 md:mb-0"
    >
      <ul
        class="list-none text-sm text-gray-400 flex flex-col space-y-2 text-center md:text-left"
      >
        <li class="text-lg text-white font-semibold mb-4">Features</li>
        <li>Link Shortening</li>
        <li>Branded Links</li>
        <li>Analytics</li>
      </ul>
      <ul
        class="list-none text-sm text-gray-400 flex flex-col space-y-2 text-center md:text-left"
      >
        <li class="text-lg text-white font-semibold mb-4">Resources</li>
        <li>Blog</li>
        <li>Developers</li>
        <li>Support</li>
      </ul>
      <ul
        class="list-none text-sm text-gray-400 flex flex-col space-y-2 text-center md:text-left"
      >
        <li class="text-lg text-white font-semibold mb-4">Company</li>
        <li>About</li>
        <li>Our Team</li>
        <li>Careers</li>
        <li>Contact</li>
      </ul>
    </nav>
    <nav class="mt-12 md:mt-0">
      <ul class="list-none flex space-x-6 justify-center md:justify-end">
        <li class="cursor-pointer">
          <img src="./assets/images/icon-instagram.svg" alt="" />
        </li>
        <li class="cursor-pointer">
          <img src="./assets/images/icon-pinterest.svg" alt="" />
        </li>
        <li class="cursor-pointer">
          <img src="./assets/images/icon-twitter.svg" alt="" />
        </li>
        <li class="cursor-pointer">
          <img src="./assets/images/icon-facebook.svg" alt="" />
        </li>
      </ul>
    </nav>
  </div>
</footer>
