<section class="mt-20 flex flex-col md:flex-row">
  <app-card-icon
    [options]="{
      title: 'Brand Recognition',
      description:
        'Boost your brand recognition with each click. Generic links don’t mean a thing. Branded links help instil confidence in your content.',
      image: '/assets/images/icon-brand-recognition.svg'
    }"
  />
  <div class="flex flex-col md:flex-row md:translate-y-9 items-center">
    <div class="w-2 h-[46px] md:w-8 md:h-2 border-4 border-teal-400"></div>
    <app-card-icon
      class="mt-10 md:mt-0"
      [options]="{
        title: 'Detailed Records',
        description:
          'Gain insights into who is clicking your links. Knowing when and where people engage with your content helps inform better decisions.',
        image: '/assets/images/icon-detailed-records.svg'
      }"
    />
    <div class="w-2 h-[46px] md:w-8 md:h-2 border-4 border-teal-400"></div>
  </div>
  <app-card-icon
    class="translate-y-10 md:translate-y-[72px]"
    [options]="{
      title: 'Fully Customizable',
      description:
        'Improve brand awareness and content discoverability through customizable links, supercharging audience engagement.',
      image: '/assets/images/icon-fully-customizable.svg'
    }"
  />
</section>
